
    <div class="jumbotron">
        <h3>Overview</h3>
            <p>This ASP.NET MVC web application renders a tree structure to a depth specified by the input.</p>
        <h3>Start playing</h3>
            <p>
            When the application is run (with the default configuration), you can access a tree of depth 2
            by typing into the internet browser address bar the url <a href="{{uiState.sampleTreeViewUrl}}" ng-bind="uiState.sampleTreeViewUrl"></a>.
            </p>
        <h3>Troubleshooting</h3>
            <p>
            Please ensure the "Start Action" for the web project (CompanyABC.TreeView.Web) has been set to "Specific Page" with a blank value.
                </p>
            <img src="{{uiState.webProjStartActionImagePath}}" />
            
  </div>  

